@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("https://res.cloudinary.com/do3d7xlrt/image/upload/v1770728920/9_bbe4le.webp");
    background-size: cover;
    font-family: Arial, sans-serif;
}

.main-heading {
    text-align: start;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    padding: 0 30px;
}
  
.container {
    background-color: black;
    height: 700px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
    position: absolute;
    right: 25px; /* Distance from the right edge */
    top: 55%; /* Center vertically */
    transform: translateY(-50%);
}

.container:hover{
    box-shadow: 0 15px 30px darkblue;
}

.player-img{
    width: 350px;
    height: 500px;
    position: relative;
    top: -80px;
    left: 50px;
}

.player-img img{
    object-fit: cover;
    border-radius: 20px;
    height: 0;
    width: 0;
    opacity: 0;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

.player-img:hover img{
    transition: transform 0.3s ease;
    transform: scale(1.03);
}

.player-img img.active{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    opacity: 1;
}

.player-progress{
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 20px 35px;
    height: 6px;
    width: 90%;
    gap: 10px;
}

.progress{
    background-color: antiquewhite;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.music-duration{
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.music-duration span {
    color: white;
}

.player-controls{
    position: relative;
    top: -10px;
    left: 150px;
    width: 200px;
}

.fa-solid{
    font-size: 30px;
    color: #fff;
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.fa-solid:hover {
    color: antiquewhite;
}

.play-button{
    font-size: 44px;
    position: relative;
    top: 3px;
}

.welcome-container {
    color: white;
    padding: 20px;
    margin: 50px 0 50px 30px;
    width: 80%;
    max-width: 950px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    border-radius: 10px;
    transition: transform 0.3s ease; 
}

.welcome-container:hover {
    transform: scale(1.03); 
}

.year-scroll-wrapper {
    width: 65%;
    padding: 20px;
    margin: 20px 0 20px 30px;
    overflow: hidden;
    box-sizing: border-box;
  }

  .year-scroll {
    display: flex;
    width: fit-content;
    animation: scroll-years 30s linear infinite;
  }

  .year-track {
    display: flex;
    white-space: nowrap;
  }

  .year-btn {
    background-color: black;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
  }

  @keyframes scroll-years {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .song-container {
    margin: 20px 30px;
    display: none;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    color: white;
    border: 2px solid darkblue;
  }

  .song-card {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .song-title {
    font-size: 18px;
  }

  .play-btn {
    background-color: darkblue;
    border: none;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  