html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('images/9.webp');
    background-size: cover;
    font-family: Arial, sans-serif;
    overflow: auto;
}

.main-heading {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin: 15px 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;  
}

.gallery-item {
    width: 240px;
    text-align: center;
    border: 1px solid #050505;
    border-radius: 10px;
    padding: 10px;
    background: #0f0f0f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    object-fit: cover;   
}

.gallery-item img {
    width: 100%;
    height: 250px;
    max-height: 250px; 
    border-radius: 10px;
    object-fit: cover; 
    display: block; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.gallery-item h5 {
    margin: 15px 0;
    font-size: 20px;
    color: #fff;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.controls button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 25px;
    padding: 5px;
    transition: transform 0.2s;
}

.controls button:hover {
    transform: scale(1.2);
}

.heart-button i {
    color: #fff;
}

.play-button i {
    color: #fff;
}








