*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("images/9.webp");
    background-size: cover;
    font-family: Arial, sans-serif;
    overflow: auto;
}

.main-heading {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin: 25px 0;
}

.artist-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.artist-item {
    width: 250px;
    height: 350px;
    perspective: 1000px;
}

.artist-card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.artist-item:hover .artist-card {
    transform: rotateY(180deg); 
}

.artist-front, .artist-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
}

.artist-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.artist-back {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: rotateY(180deg); 
}

.artist-info h3 {
    color: #213555;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.artist-info p {
    font-size: 14px;
    margin-bottom: 15px;
}

.artist-songs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.song-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.play-button,
.heart-button {
    background: none;
    border: none;
    cursor: pointer;
}

.play-button i {
    color: #213555;
}
.heart-button i {
    font-size: 20px;
    transition: color 0.3s ease;
}

.heart-button i {
    color: #213555; 
}

.heart-button.liked i {
    color: red; 
}
